html,
body {
  box-sizing: border-box;
}

p {
  font-family: "Lora", "Georgia", serif;
  font-style: italic;
  line-height: 1.75;
  font-weight: 400;
  font-size: 1.25em;
}

h4 {
  font-family: "Open Sans Condensed", "Century Schoolbook", Georgia, serif;
}